$bright-blue: hsl(220, 98%, 61%);
$gradient: hsl(192, 100%, 67%), hsl(280, 87%, 65%);
$very-light-gray: hsl(0, 0%, 98%);
$dark-grayish-blue: hsl(234, 11%, 52%);
$very-dark-grayish-blue: hsl(237, 14%, 26%);

// Light Theme
[data-theme='light'] {
  --bg-color: hsl(236, 33%, 92%);
  --bg-card: hsl(0, 0%, 98%);
  --border-color: hsl(234, 39%, 85%);
  --color: hsl(235, 19%, 35%);
  --hover-color: hsl(233, 14%, 35%);
  --caret-color: hsl(235, 19%, 35%);
  --checked-color: hsl(234, 39%, 85%);
}

// Dark Theme
[data-theme='dark'] {
  --bg-color: hsl(235, 21%, 11%);
  --bg-card: hsl(235, 24%, 19%);
  --border-color: hsl(235, 19%, 35%);
  --color: hsl(233, 11%, 84%);
  --hover-color: hsl(233, 14%, 35%);
  --caret-color: hsl(220, 98%, 61%);
  --checked-color: hsl(234, 11%, 52%);
}

// breakpoints
$sm: 360px;
$md: 425px;
$lg: 769px;
$xl: 1024px;
